<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!--Agregacion de Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="margin: 10px;">
	<h1>Proyecto - Crear Cliente</h1>
	<hr>
	
	<form method="post" th:action="@{/cliente/crearCliente}">
		<label>DNI:</label>
		<input type="text" placeholder="DNI_Cliente" name="dni">
		<br><br>
		
		<label>Nombre:</label>
		<input type="text" placeholder="Nombre" name="nombre">
		<br>
		
		<label>Direccion:</label>
		<input type="text" placeholder="Direccion" name="direccion">
		<br>
		
		<label>Email:</label>
		<input type="text" placeholder="Email" name="email">
		<br>
		
		<label>Telefono:</label>
		<input type="text" placeholder="Telefono" name="telefono">
		<br>
		
		<button type="submit" class="btn btn-primary mb-2">Crear</button>
	</form>
	<br>
	<p th:text="${mensaje}"></p>
	<a th:href="@{/cliente/indice}"><button type="button" class="btn btn-info">Volver atras</button></a>
</body>
</html>