<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!--Agregacion de Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="margin: 10px;">
	<h1>Proyecto - Listar Roles</h1>
	<hr>
	
	<table class="table" style="margin: 20px; width: 70%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID_Rol</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
		<tr th:each="rol: ${roles}">
            <td th:text="${rol.idRol}"></td>
            <td th:text="${rol.descripcion}"></td>
            <td>
                <a th:href="@{'/rol/verEditarRol/' + ${rol.idRol}}">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                
                <a th:href="@{'/rol/eliminarRol/' + ${rol.idRol}}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            </td>
        </tr>
    </tbody>
	</table>
    <p th:text="${mensaje}"></p>
	<a th:href="@{/rol/indice}"><button type="button" class="btn btn-info">Volver atras</button></a>
</body>
</html>