<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!--Agregacion de Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="margin: 10px;">
	<h1>Proyecto - Listar Facturas</h1>
	<hr>
	
	<table class="table" style="margin: 20px; width: 70%;">
    <thead class="thead-dark">
        <tr>
            <th scope="col">ID_Factura</th>
            <th scope="col">Fecha_Emision</th>
            <th scope="col">Precio_Total</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
		<tr th:each="factura: ${facturas}">
            <td th:text="${factura.idFactura}"></td>
            <td th:text="${#temporals.format(factura.fechaEmision, 'dd/MM/yyyy')}"></td>
            <td th:text="${factura.precioTotal + '€'}"></td>
            <td>
                <a th:href="@{'/factura/verEditarFactura/' + ${factura.idFactura}}">
                    <button type="button" class="btn btn-primary">Editar</button>
                </a>
                
                <a th:href="@{'/factura/eliminarFactura/' + ${factura.idFactura}}">
                    <button type="button" class="btn btn-danger">Eliminar</button>
                </a>
            </td>
        </tr>
    </tbody>
	</table>
    <p th:text="${mensaje}"></p>
	<a th:href="@{/factura/indice}"><button type="button" class="btn btn-info">Volver atras</button></a>
</body>
</html>