<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<!--Agregacion de Bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="margin: 10px;">
	<h1>Proyecto - Producto</h1>
	<hr>
	<a th:href="@{/producto/verCrearProducto}"><button type="button" class="btn btn-primary">Crear producto</button></a>
	<a th:href="@{/producto/listarProductos}"><button type="button" class="btn btn-primary">Ver productos</button></a>
	<a th:href="@{/index}"><button type="button" class="btn btn-info">Volver atras</button></a>
</body>
</html>